# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Compiled outputs
build/*
bin/*

# Dependency directories
node_modules/

# Output of 'npm pack'
*.tgz

# Integrity file
package-lock.json

# dotenv environment variable files
.env
.env.*
!.env*example

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Build outputs

*.wasm
*.wat
*.sa